.uploaderContainer {
  display: flex;
  flex-direction: column;
  color: $labelColor;

  .uploader {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50px;
    text-align: center;
    align-items: start;
    border: 1px solid $labelColor;
    margin: 10px 0;
    position: relative;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
   
  }
  .cameraIcon {
    font-size: 24px;
    color: $labelColor;
    margin-top: 35px;
  }
  .uploaderLabel {
    font-size: 18px;
    &::after {
      content: "*";
      color: $astrickColor;
    }
    
  }
}

 .deleteImage {
      border-radius: 50%;
      background-color: rgb(194, 21, 21);
      color: white;
      width: 17px;
      height: 17px;
      position: absolute;
      text-align: center;
      top:10px;
      right: 0;
      font-size: 9px;
      cursor: pointer;
    }

    .fileLabelContainer{
      position: relative;
      height: 120px;
      margin: 10px 0;
    }

