.generic-label {
  margin-bottom: 8px;
  font-size: 18px;
  color: $labelColor;
  display: block;
  &::after {
    content: "*";
    color: $astrickColor;
  }
}

.generic-input {
  border: 1px solid $primaryColor;
  border-radius: 3px;
  padding: 8px 7px;
  width: 100%;
  color: $primaryColor;
  &:focus {
    border: 1px solid rgb(77, 77, 77);
    outline: none;
  }
}
.inputContainer {
  margin-bottom: 40px;
}

