@import "./variables/colors.scss";
@import "./variables/colors.scss";

@import "./views/form.scss";
@import "./components/imageUploader.scss";
@import "./components/input";
@import "./components/newPlace";
@import "./components/addressForm.scss";
@import "./components/gender.scss";
@import "./components/phoneNumber.scss";
@import "./components/buttons";
@import "./components/errorMessage";
@import "./components/submittingPage";
